In [ ]:
# online music store, users sign up, we asked age and gender, based on their profile, recommend various music albums their likely to buy
# use machine learning to increase sales
# build model, feed mode some datas, learn patterns on our data, predictions, when new users coming, 
# asked what kind of music are interested in by the new user
# basked on this, we can give suggestions to users.

In [1]:
# 1. import data and package.
# music.csv
import pandas as pd
music_data = pd.read_csv("music.csv")
# inspect
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [2]:
# 2. clean dataset, 
# 3. and split it into two data set, input set, output set to our training model
# input set:
X = music_data.drop(columns='genre')
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [3]:
# output dataset
Y = music_data['genre']
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [ ]:
# learning and preparing
# build a model use machine learning algorithm
# we use dicision tree, they are all included in the library called Sklearn

In [4]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
# method model.fit(input, output)
model.fit(X, Y)
# model.predict, takes a 2 dimentional array, outer array and inner array.
predictions = model.predict([[21, 1], [22, 0]])
predictions

/opt/anaconda3/lib/python3.13/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [62]:
# calculating the accuracy
from sklearn.model_selection import train_test_split # easily separate the dataset into 2 datasets
# measure metrics
from sklearn.metrics import accuracy_score

# the function returns a tuple(4 parts)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)
model.fit(X_train, Y_train)
# compare with our Y_test
predictions = model.predict(X_test)
# return accuracy value between 1-0
score = accuracy_score(Y_test, predictions)
score

# press control + enter to excute the part

0.75

In [64]:
# model persistence is important for more than thounds or tens of data, the model is already trained. we don't neet to retrain.
# model persistence
# old version from sklearn.externals import joblib # it has methods for saving and loading modules.
# new version
import joblib

joblib.dump(model, 'music-recommender.joblib')

['music-recommender.joblib']

In [66]:
# load our trained model
model = joblib.load('music-recommender.joblib')
predictions = model.predict([[21, 1]])
predictions

/opt/anaconda3/lib/python3.13/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop'], dtype=object)

In [68]:
# visualize our decision tree in a graphic picture
from sklearn import tree
tree.export_graphviz(model, out_file = 'music-recommender.dot',
                    feature_names = ['age', 'gender'],
                    class_names = sorted(Y.unique()),
                    label = 'all',
                    rounded = True,
                    filled = True) # dot for graph